
*{
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


:root{
    --grey: #393d42;
    --secondarygrey: #adb5bd;
    --green: #198754;
    --yelow: #ffc107;
}


a{
    text-decoration: none !important;
    color: white !important;
    font-weight: 600 !important;
}

li{
    list-style: none;
}


p {
    color: var(--grey);
}

/*Barra de navegacion*/


@media (min-width:768px){
    .list-content{
        gap: 4rem;
    }
}

.list-content :hover {
    background-color: var(--green);
    padding: 0.2em;
}

/*boton*/



/*imagen y contenido header*/
.header{
    background-image: url(../img/img-header.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(0.8); /* Oscurece la imagen */
}


@media (min-width:768px){
    .headertitle-content{
        padding: 15rem 5rem 20rem 5rem;
        width: 30%;
    }
}


.headertitle-content h1{
    color: var(--yelow);
    padding-bottom: 2rem;
    font-weight: 900;
    font-size: 3rem;
}


/*nosotros.html*/

/*nosotros titulo texto*/

@media (min-width:768px) {
.header-content{
    position: fixed;
    width: 100%;
    box-shadow: .1rem .2rem .3rem #333;
}
}

.nav-container{
    background-color: var(--grey);
}



/*why us content*/



.whyus-content{
    padding: 10rem 5rem 10rem 5rem;
}


@media(min-width:768px){
    .img-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
    
}

.img-content img{
    width: 100%;
    height: 70%;
    box-shadow: .1rem .2rem .3rem #333;
}


/*secondary section content*/
.secondarysectioncontent{
    background-color: var(--secondarygrey);
    margin-bottom: 5rem;
}

.center-content p{
    font-size: 1.2rem;
}

/*footer img content*/

.footer-img{
    background-image: url(../img/footer-img.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-img-content{
    padding-top: 15em;
}

.footer-img-content h1{
    color: white;
    background-color: var(--grey);
    background: rgba(0, 0, 0, 0.7);
    padding: 4rem;
}


/*catalogo*/

.card-container img{
    width: 100%;
    height: 100%;
}


.card-container{
    padding: 5em;
}


/*formulario*/


.formulario{
    box-shadow: .1rem .2rem .3rem #333;
}



input, 
textarea,
select {
    padding: .8rem;
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid var(--grey);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.textarea {
    height: 20rem;
}


